[Unit]
Description=Service to auto-run webapp API
After=cloud-final.service

[Service]
Type=simple
User={{USER}}
Group={{GROUP}}
EnvironmentFile={{ENVFILE}}
ExecStart={{EXECFILE}}
Restart=on-failure

[Install]
WantedBy=cloud-init.target