[Unit]
Description=Webapp service
After=cloud-final.service

[Service]
Type=simple
User=webapp
Group=csye6225
EnvironmentFile=/etc/environment
ExecStart=/usr/webapp

Restart=on-failure

StandardOutput=webapp
StandardError=webapp
SyslogIdentifier=webappservice

[Install]
WantedBy=cloud-init.target